.container {
	width: 850px;
}

.box{
	height: 30%;
	width: 30%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border:solid;
	border-width: 1px;
	padding: 75px 0px;
	margin:0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index:-1;
}

.top{
	border-top-width: 0;
}


.left{
	border-left-width: 0;
}


.bottom{
	border-bottom-width: 0;
}


.right{
	border-right-width: 0;
}

.winner{
	position: absolute;
	top: 45%;
	left: 45%;
	display: none;
	text-align: center;
	z-index: 1;
	background: rgba(0,0,0,.4);
	height: 30%;
	width: 30%;
}

.sizer {
	position: absolute;
	top: 40%;
	left: 45%;
}
.start{
	position: absolute;
	top: 45%;
	left: 45%;
}

.player1 {
	position: absolute;
	top: 30%;
	left: 45%;
}

.player2 {
	position: absolute;
	top: 30%;
	left: 54%;
}

.playernames {
	position: absolute;
	top:35%;
	left:42%;
}